.header {
	background-color:red;
	color:black;
	text-align:center;
}

.topbar {
	background-color:darkgray;
	color:white;
	text-align:center;
}

.side bar {
	color:black;
	text-align:left;
}

.content {
	color:black;
	font-weight:bold;
}

img {
	height: 200px;
	width: 200px;
}

