header {
	background-color:red;
	color:black;
	text-align:center;
}

topbar {
	background-color:darkgray;
	color:white;
}

side bar {
	color:black;
}

content {
	color:black;
	font-weight:bold;
}

img {
	height: 200px;
	width: 200px;
}

