.header {
	background-color: red;
	color: black;
	text-align: center;
}

.topbar {
	background-color: darkgray;
	color: white;
	text-align: center;
}

.sidebar {
	color: black;
	text-align: left;
}

.content {
	color: black;
	font-weight: bold;
	text-align: left;
}

img {
	height: 200px;
	width: 200px;
}

